<?xml version="1.0" encoding="utf-8"?>
<odoo>
    <menuitem id="menu_salesman_root" name="إدارة المندوبين" sequence="10"/>
    
    <!-- قوائم المندوبين -->
    <menuitem id="menu_salesman" name="المندوبون" parent="menu_salesman_root" action="action_salesman"/>
    
    <!-- قوائم خط السير -->
    <menuitem id="menu_weekly_route" name="خط السير الأسبوعي" parent="menu_salesman_root" action="action_weekly_route"/>
    
    <!-- قوائم المسارات -->
    <menuitem id="menu_predefined_routes" name="المسارات المحددة" parent="menu_salesman_root" action="action_predefined_routes"/>
    
    <!-- قوائم الزيارات -->
    <menuitem id="menu_visits" name="سجل الزيارات" parent="menu_salesman_root" action="action_visit_logs"/>
</odoo>